<div class="timer p-3" [ngClass]="{'timer-started':timerStarted}">
  <mat-icon class="timer-icon">timer</mat-icon>

  <div class="">
    <div class="timer-text">
      <h2 *ngIf="isStarted; else stopText">
        Stop sleep timer
      </h2>
      <ng-template #stopText>
        <h2>
          Start sleep timer
        </h2>
      </ng-template>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="me-lg-5 mb-3 mb-lg-0 d-flex align-items-center">
    <div class="timer-value mx-2">
      <div class="value">
        {{timeElapsed.days}}
      </div>
      <div class="text">
        Day
      </div>
    </div>
    <div class="timer-value mx-2">
      <div class="value">
        {{timeElapsed.hours}}
      </div>
      <div class="text">
        Hour
      </div>
    </div>
    <div class="timer-value mx-2">
      <div class="value">
        {{timeElapsed.minutes}}
      </div>
      <div class="text">
        Minute
      </div>
    </div>
    <div class="timer-value mx-2">
      <div class="value">
        {{timeElapsed.seconds}}
      </div>
      <div class="text">
        Seconds
      </div>
    </div>
  </div>

  <button (click)="isStarted ? stopTimer() : startTimer()">
    <div>
      <div *ngIf="isStarted; else stop">Stop</div>
      <ng-template #stop>Start</ng-template>
    </div>
  </button>
</div>
