@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.timer {
  @include panel;
  display: flex;
  align-items: center;
  height: 100px;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    height: unset;
    justify-content: center;
  }

  .timer-icon {
    transform: scale(5) translate(5%, 15%);
    opacity: 0.7;
    margin-right: 75px;


    @include media-breakpoint-down(lg) {
      transform: scale(3);
      margin: 15px 0 30px;
    }
  }

  .timer-text {
    font-weight: 700;
    font-size: 30px;
  }

  button {
    @include button;
    margin: 0;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .timer-value {
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    aspect-ratio: 1/1;

    @include media-breakpoint-down(sm) {
      width: 55px;
    }

    .value {
      font-weight: bold;
      font-size: 25px;

      @include media-breakpoint-down(sm) {
        font-size: 22px;
      }
    }

    .text {
      font-size: 13px;

      @include media-breakpoint-down(sm) {
        font-size: 11px;
      }
    }
  }
}
