@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.main-top-margin {
  margin-top: 64px;
}


.form-panel {
  padding-top: 56px;
  overflow: hidden;

  .form {
    @include panel;
    padding-bottom: 200px !important;
    padding-top: 35px !important;

    @include media-breakpoint-down(sm) {
      padding-bottom: 125px !important;
    }

    h2 {
      font-weight: bold;
      font-size: 40px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);

      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }

    .tower-image {
      position: absolute;
      width: 100%;
      bottom: -0px;
      left: 0;
      pointer-events: none;
    }

    $input-base-color: white;

    mat-label {
      color: $input-base-color;
    }

    .mat-hint,
    .mat-form-field-outline {
      color: white;
    }

    // input outline color
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline,
      // mat-input focused color
    ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
      // mat-input carent color
    ::ng-deep .mat-input-element {
      color: $input-base-color !important;
    }

    // mat-input error outline color
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick,
    ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
      color: red !important;
      opacity: 0.8 !important;
    }

    .submit-button {
      @include button;
      height: 50px;
    }
  }
}

.sleep-panel {
  @include panel;

  .icon {
    font-size: 50px;
    margin-right: 25px;
  }
}
