@import "variables";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@mixin button {
  font-size: 18px;
  background-color: $accent;
  color: white;
  font-weight: 700;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  line-height: 23px;
  border-radius: 15px;
  transition: all 0.15s;
  height: 70px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  outline: none;
  border: 2px solid $accent;

  @include media-breakpoint-down(sm) {
    height: 55px;
    min-width: 100px;
  }

  &:disabled {
    opacity: 0.65;
    pointer-events: none;
  }

  div {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: $primary-lighten;
    width: 0;
    aspect-ratio: 1/1;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    transition: all 0.2s;
  }

  &:hover {
    &:after {
      width: 150%;
    }
  }
}

@mixin panel() {
  background-color: $primary-lighten;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(21, 4, 69, 0.75);
}
