@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.toggle-button {
  background-color: $primary-lighten;
  color: white;
}

.mat-button-toggle-checked {
  background-color: $accent;
}

.mat-button-toggle-group {
  @include panel;
}

.times-chart {
  @include panel;
  height: fit-content;

  ::ng-deep .ngx-charts {
    text {
      fill: #fff !important;
    }
  }
}
