<div class="container main-top-margin">
  <h2 class="fw-bolder h1">Welcome</h2>

  <app-timer (timeAdded)="loadSleepTimes()"></app-timer>

  <div class="row mt-5 px-0">
    <div class="col-12 col-lg-5">
      <app-add-time (timeAdded)="loadSleepTimes()"></app-add-time>
    </div>
    <div class="col-12 col-lg-7">
      <app-sleep-times (update)="loadSleepTimes()" [sleepTimes]="sleepTimes.slice(0,4)"></app-sleep-times>
    </div>
  </div>

  <div class="my-5 d-flex justify-content-center">
    <mat-button-toggle-group (change)="timeFilterChange()" [(ngModel)]="timeFilter" name="filterType" class="">
      <mat-button-toggle class="toggle-button" [value]="TimeFilterEnum.last7days">Last 7 days</mat-button-toggle>
      <mat-button-toggle class="toggle-button" [value]="TimeFilterEnum.thisMonth">This month</mat-button-toggle>
      <mat-button-toggle class="toggle-button" [value]="TimeFilterEnum.thisYear">This year</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="mt-4 mt-md-5 row align-items-center justify-content-center">
    <div class="col-12 col-md-6">
      <app-avg-sleep-panel [times]="sleepTimes"></app-avg-sleep-panel>
    </div>
    <div class="col-12 col-md-6 mt-4 m-md-0">
      <app-total-sleep-panel [times]="sleepTimes"></app-total-sleep-panel>
    </div>
  </div>

  <div class="mt-4 mt-md-5 row justify-content-between">
    <div class="col-12 col-md-6">
      <app-sleep-times-table [times]="sleepTimes"></app-sleep-times-table>
    </div>

    <div class="col-12 col-md-6 mt-4 mt-md-0">
      <app-sleep-times-chart [chartValues]="chartValues" [filterState]="timeFilter"></app-sleep-times-chart>
    </div>
  </div>
</div>
