<div class="container main-top-margin">
  <h2 class="fw-bolder h1">Welcome</h2>

  <app-timer></app-timer>

  <div class="row mt-5 px-0 w-100">
    <div class="col-5">
      <app-add-time></app-add-time>
    </div>
    <div class="col-7">
      <app-sleep-times></app-sleep-times>
    </div>
  </div>

  <div class="mt-5 d-flex justify-content-center">
    <mat-button-toggle-group [(ngModel)]="timeFilter" name="filterType" class="">
      <mat-button-toggle class="toggle-button" value="sevenDays">Last 7 days</mat-button-toggle>
      <mat-button-toggle class="toggle-button" value="thisMonth">This month</mat-button-toggle>
      <mat-button-toggle class="toggle-button" value="thisYear">This year</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="mt-5 row align-items-center justify-content-center">
    <div class="col-4">
      <app-avg-sleep-panel></app-avg-sleep-panel>
    </div>
    <div class="col-4">
      <app-total-sleep-panel></app-total-sleep-panel>
    </div>
  </div>
</div>
