@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.toggle-button {
  background-color: $primary-lighten;
  color: white;
}

.mat-button-toggle-checked {
  background-color: $accent;
}

.mat-button-toggle-group {
  @include panel;
}

.sleep-times-list {
  @include panel;

  .times-table {
    background-color: transparent;
    color: white;

    tr, th, td {
      color: white;
    }

    th.mat-header-cell,
    td.mat-cell {
      border-bottom-color: rgba(255, 255, 255, 0.26);
    }
  }

  .paginator {
    .mat-button-disabled {
      color: rgba(255, 255, 255, 0.26);
    }
  }
}
