@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.login {
  padding-top: 56px;
  overflow: hidden;

  .login-form {
    background-color: $primary-lighten;
    border-radius: 15px;
    padding-bottom: 200px !important;

    .tower-image {
      position: absolute;
      width: 100%;
      bottom: -0px;
      left: 0;
    }

    $input-base-color: white;

    mat-label {
      color: $input-base-color;
    }

    // input outline color
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline,
      // mat-input focused color
    ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
      // mat-input carent color
    ::ng-deep .mat-input-element {
      color: $input-base-color !important;
    }

    // mat-input error outline color
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick,
    ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
      color: red !important;
      opacity: 0.8 !important;
    }

    .submit-button {
      @include button;
      height: 50px;
    }
  }
}
