<div class="form-panel">
  <ng-form class="row justify-content-center">
    <div class="col-11 form p-4 position-relative">
      <h2>Add sleep time</h2>
      <img class="tower-image" src="assets/images/foreground.png" alt="Clouds">

      <div class="row w-100 justify-content-between">
        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Sleep time</mat-label>
            <mat-icon matPrefix>alarm_add</mat-icon>
            <input
              matInput
              [ngxTimepicker]="startTimePicker"
              [format]="24"
              [formControl]="startTimeFormControl"
              [errorStateMatcher]="matcher"
              [(ngModel)]="startTime"
              readonly
            >
            <mat-error *ngIf="startTimeFormControl.hasError('required')">
              Sleep time is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <ngx-material-timepicker
            #startTimePicker
            [enableKeyboardInput]="true"
            [theme]="timepickerTheme"
            [defaultTime]="'00:00'"
          ></ngx-material-timepicker>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Wake up time</mat-label>
            <mat-icon matPrefix>alarm_add</mat-icon>
            <input
              matInput
              [ngxTimepicker]="wakeUpTimePicker"
              [format]="24"
              [formControl]="wakeUpTimeFormControl"
              [errorStateMatcher]="matcher"
              [(ngModel)]="wakeupTime"
              readonly
            >
            <mat-error *ngIf="wakeUpTimeFormControl.hasError('required')">
              Wake up time is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <ngx-material-timepicker
            #wakeUpTimePicker
            [enableKeyboardInput]="true"
            [theme]="timepickerTheme"
            [defaultTime]="currentTime"
          ></ngx-material-timepicker>
        </div>
      </div>

      <div class="slept-time text-center">
        <div class="fw-bold fs-4">
          Slept:
        </div>

        <div class="fs-5">
          {{startTime|SleepTime:wakeupTime}}
        </div>
      </div>

      <button
        class="save-button mt-5"
        (click)="onSubmit()"
        [disabled]='startTimeFormControl.invalid || wakeUpTimeFormControl.invalid || (startTime === wakeupTime)'
      >
        <div>
          Save
        </div>
      </button>
    </div>
  </ng-form>
</div>
