<mat-toolbar class="bg-transparent app-navbar container mx-auto">
  <a href="/" class="logo h-100 d-flex align-items-center">
    <img src="assets/images/logo-white.svg" alt="Sleepiest">
  </a>

  <span class="navbar-spacer"></span>

  <a *ngIf="!userLoggedIn" href="/login" class="navbar-button me-4">
    Login
  </a>

  <a *ngIf="!userLoggedIn" href="/register" class="navbar-button-primary">
    Register
  </a>

  <button *ngIf="userLoggedIn" class="navbar-button me-4" (click)="logout()">
    Logout
  </button>
</mat-toolbar>
