.app-navbar {
  margin-bottom: -64px;
  position: relative;
  z-index: 1;

  .navbar-spacer {
    flex: 1 1 auto;
  }

  .logo {
    height: 90%;
  }

  .navbar-button {
    text-decoration: none;
    color: white;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    font-size: 18px;
    padding: 0 20px;
    border-radius: 7px;
    font-weight: 500;
    letter-spacing: 0.75px;
    transition: all 0.15s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
}
