<div class="hero">
  <div class="container h-100 text-center">
    <h1>
      The sleep app
    </h1>
    <div class="hero-text">
      Relax, fall asleep fast and wake up happy
    </div>

    <a href="/login">
      <div>
        Try for free
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="home-features row">
    <div class="col-4 px-5">
      <img src="assets/images/home/track-icon.png" alt="Track">
      <div class="features-title">
        Track your progress
      </div>
      <div class="features-info">
        Just 5 days of Sleepiest can help you sleep an average of 32 minutes longer each night.
      </div>
    </div>

    <div class="col-4 px-5">
      <img src="assets/images/home/join-icon.png" alt="Track">
      <div class="features-title">
        Join over 2 million
      </div>
      <div class="features-info">
        Join over 2 million people around the world. (Totally valid user number not just some random number)
      </div>
    </div>

    <div class="col-4 px-5">
      <img src="assets/images/home/zz-icon.png" alt="Track">
      <div class="features-title">
        Advanced stats
      </div>
      <div class="features-info">
        See advanced statistics about your sleeping schedule.
      </div>
    </div>
  </div>
</div>
